name: Docs

on:
  push:
    branches: [master]
    paths: ['**/*.md']
  pull_request:
    paths: ['**/*.md']

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: DavidAnson/markdownlint-cli2-action@v19
